<h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>

<p class="">Retrouvez ici tous les utilisateurs de votre site.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="user-title" class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="usersTable" width="100%" cellspacing="0">

            </table>
        </div>
    </div>
</div>

<script>
$('#user-title').html('Utilisateurs')

fetch('api/user/')
.then(response => {
    return response.json()
})
.then(response => {
    let thead = '';
    let tfoot = '';
    let tbody = '';
    let pretty_keys = {
        'first_name': 'Prénom',
        'last_name': 'Nom',
        'email': 'Email'
    }
    let order_keys = [
        'first_name',
        'last_name',
        'email'
    ]

    thead += '<thead><tr>';
    tfoot += '<tfoot><tr>';
    for (key in order_keys) {
        thead += '<th>' + pretty_keys[order_keys[key]] + '</th>';
        tfoot += '<th>' + pretty_keys[order_keys[key]] + '</th>';
    }
    thead += '</tr></thead>';
    tfoot += '</tr></tfoot>';

    tbody += '<tbody>';
    for (doc of response) {
        tbody += '<tr>';
        for (key in order_keys) {
            if (order_keys[key] == 'name' && doc[order_keys[key]] !== undefined) {
                tbody += '<td>' + '<a href="api/document/' + doc['path'] + '" target="_blank">' + doc[order_keys[key]] + '</td>';
            } else if (doc[order_keys[key]] !== undefined) {
                tbody += '<td>' + doc[order_keys[key]] + '</td>';
            }
        }
        tbody += '</tr>';
    }
    tbody += '</tbody>'; 

    $('#usersTable').html(thead + tfoot + tbody);
    $('#usersTable').dataTable();
})
</script>