<h1 class="h3 mb-2 text-gray-800">Changement d'email</h1>

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-2">Changement de mail</h1>
        </div>

        <div id="info" class="alert alert-primary ml-2 mr-2 text-center" role="alert" hidden></div>

        <form class="user">
            <div class="form-group">
                <input type="email" class="form-control form-control-user" id="email" name="email">
            </div>
            <button id="modify-email-button" type="button" class="btn btn-primary btn-user btn-block">Modifier</button>
        </form>
    </div>
</div>

<script>
$('#email').attr('value', user['email']);

$('#modify-email-button').on('click', function(event) {
    fetch('api/user/email', {
        method: 'PATCH',
        body: JSON.stringify({ email: $('#email').val() }),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': getCookie('csrf_access_token')
        }
    })
    .then(response => {
        httpCode = response.status;
        return response.json();
    })
    .then(response => {
        switch(httpCode) {
            case 400:
                displayInfo(response['message']);  
                break;
            case 200:
                window.location.reload(true);
                break;
            default:
                displayInfo('Erreur inconnue. Veuillez réessayer');
        }
    })
})
</script>