<div class="row justify-content-center">
    

    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            
            <div class="col-lg-12">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Connectez vous !</h1>
                </div>
                <div id="info" class="alert alert-primary ml-2 mr-2 text-center" role="alert" hidden></div>
                <form class="user">
                <div class="form-group">
                    <input 
                    type="email" 
                    class="form-control form-control-user"
                    name="email" 
                    id="email" 
                    placeholder="Email">
                </div>
                <div class="form-group">
                    <input 
                    type="password" 
                    class="form-control form-control-user"
                    name="password"
                    id="password" 
                    placeholder="Mot de passe">
                </div>
                <button id="login-form-button" type="button" class="btn btn-primary btn-user btn-block">Se Connecter</button>
                </form>
                <hr>
                <div class="text-center">
                <a class="small" href="#">Mot de passe oublié ?</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    </div>

</div>

<script>
$('#login-form-button').on('click', function(event) {
    event.preventDefault();

    var httpCode = 0;
  fetch("api/auth/login", {
    method: 'POST',
    body: JSON.stringify({
      email: $("#email").val(),
      password: $("#password").val()
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  })
    .then(response => {
      httpCode = response.status;
      return response.json();
    })
    .then(response => {
        switch (httpCode) {
            case 200:
                window.location.replace("/")
                break;
        case 401:  
            displayInfo(response['message']);  
            break;
        default:
          displayInfo('Erreur inconnue. Veuillez réessayer');
      }
    })
})
</script>