<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Créer votre compte !</h1>
            </div>

            <div id="info" class="alert alert-primary ml-2 mr-2 text-center" role="alert" hidden></div>

            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input 
                    type="text" 
                    class="form-control form-control-user" 
                    name="first_name" 
                    id="first_name" 
                    placeholder="Prénom">
                </div>
                <div class="col-sm-6">
                  <input 
                    type="text" 
                    class="form-control form-control-user" 
                    name="last_name" 
                    id="last_name" 
                    placeholder="Nom">
                </div>
              </div>
              <div class="form-group">
                <input 
                  type="email" 
                  class="form-control form-control-user" 
                  name="email" 
                  id="email" 
                  placeholder="Email">
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input 
                    type="password" 
                    class="form-control form-control-user" 
                    name="password" 
                    id="password" 
                    placeholder="Mot de passe">
                </div>
                <div class="col-sm-6">
                  <input 
                    type="password" 
                    class="form-control form-control-user" 
                    name="repeat-password" 
                    id="repeat-password" 
                    placeholder="Répéter votre mot de passe">
                </div>
              </div>
              
              <button id="signup-form-button" type="button" class="btn btn-primary btn-user btn-block">Créer</button>
            </form>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
$('#signup-form-button').on('click', function(event) {
    event.preventDefault();

    var httpCode = 0;
  fetch("api/auth/signup", {
    method: 'POST',
    body: JSON.stringify({
        "last_name": $('#last_name').val(),
        "first_name": $('#first_name').val(),
        email: $("#email").val(),
      password: $("#password").val(),
      "repeat-password": $('#repeat-password').val()
    }),
    headers: {
      'Content-Type': 'application/json'
    }
  })
    .then(response => {
      httpCode = response.status;
      return response.json();
    })
    .then(response => {
        switch (httpCode) {
            case 201:
                displayInfo('Votre compte a bien été créé. Vous pouvez maintenant vous connecter !');
                break;
        case 400:
            displayInfo(response['message']);  
            break;
        default:
          displayInfo('Erreur inconnue. Veuillez réessayer');
      }
    })
})
</script>
