<h1 class="h3 mb-2 text-gray-800">Contact</h1>

<p class="mb-1">Pour tout type de questions, n'hésitez pas à nous contacter ! Nous vous répondrons dans les plus brefs délais.</p>

<div class="card">
    <div class="card-body">

        <div id="info" class="alert alert-primary ml-2 mr-2 text-center" role="alert" hidden></div>
        
        <form>
            <div class="form-group">
                <label for="contactEmail">Email</label>
                <input type="email" class="form-control" id="contactEmail" placeholder="Email...">
            </div>
            <div class="form-group">
                <label for="contactSubject">Sujet</label>
                <input type="text" class="form-control" id="contactSubject" name="contactSubject" placeholder="Sujet..." required>
            </div>
            <div class="form-group">
                <label for="contactText">Message</label>
                <textarea class="form-control" id="contactText" name="contactText" rows="12" required></textarea>
            </div>
            <button id="contact-form-button" type="button" class="btn btn-primary btn-user btn-block">Envoyer</button>
        </form>
    </div>
</div>

<script>
if ('email' in user) {
    $('#contactEmail').val(user['email']);
}

$('#contact-form-button').on('click', function(event) {
    event.preventDefault();

    fetch('api/contact', {
        method: 'POST',
        body: JSON.stringify({
            'email': $('#contactEmail').val(),
            'subject': $('#contactSubject').val(),
            'message': $('#contactText').val()
        }),
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': getCookie('csrf_access_token')
        }
    })
    .then(response => {
        httpCode = response.status;
        return response.json()
    })
    .then(response => {
        switch(httpCode) {
            case 200:
                displayInfo('Votre demande de contact est prise en compte. Nous reviendrons vers vous dans les prochains jours.')
                break;
            case 400:
                displayInfo(response['message'])
                break;
            default:
                displayInfo('Erreur inconnue. Veuillez réessayer');
        }
    })
})
</script>