<li class="nav-item dropdown no-arrow">
<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span id="user-name" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
</a>
<!-- Dropdown - User Information -->
<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
    <a id="modify-email" class="dropdown-item" href="#">
    <i class="far fa-envelope mr-2 text-gray-400"></i>
    Modifier votre email
    </a>
    <a id="modify-password" class="dropdown-item" href="#">
    <i class="fas fa-key mr-2 text-gray-400"></i>
    Modifier votre mot de passe
    </a>
    <div class="dropdown-divider"></div>
    <a id="user-logout" class="dropdown-item" href="#">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Se déconnecter
    </a>
</div>
</li>

<script>
$('#user-name').html(user['first_name'] + " " + user['last_name']);

$('#modify-email').on('click', function(event) {
    event.preventDefault();
    loadComponent('user/modifyEmail', '#mainContent');
})

$('#modify-password').on('click', function(event) {
    event.preventDefault();
    loadComponent('user/modifyPassword', '#mainContent');
})

$('#user-logout').on('click', function(event) {
    event.preventDefault();
    
    fetch('api/auth/logout')
    .then(response => {
        window.location.reload(true);
    })
})
</script>