<li>
    <button id="login-button" type="button" class="btn btn-primary">Connexion</button>
</li>
<li class="ml-1">
    <button id="signup-button" type="button" class="btn btn-primary">Inscription</button>
</li>

<script>
$("#login-button").on('click', function(event) {
    event.preventDefault();
    loadComponent('auth/login', '#mainContent');
})

$("#signup-button").on('click', function(event) {
    event.preventDefault();
    loadComponent('auth/signup', '#mainContent');
})
</script>