<h1 class="h3 mb-2 text-gray-800">Bienvenue sur votre espace administrateur !</h1>
<!-- <p class="mb-1"></p> -->

<div class="card">
    <div class="card-body">
    Sur cet espace, vous avez accès à toutes les fonctionnalités utilisateurs afin de vérifier leurs bon fonctionnement. Vous trouverez également : 
    <ul>
        <li><b>Module de documents</b> : vous permet de consulter ainsi que de déposer des documents clients.</li>
        <li><b>Liste d'utilisateur</b> : vous permet de consulter les utilisateurs de votre site, et vous permet de les modifier/supprimer.</li>
    </ul>
    </div>
</div>