<h1 class="h3 mb-2 text-gray-800">Bienvenue sur MyBroker !</h1>
<!-- <p class="mb-1"></p> -->

<div class="card">
    <div class="card-body">
    Sur ce site, vous allez pouvoir intéragir avec les différents modules mis à votre disposition : 
    <ul>
        <li><b>Module de simulation de prêt</b> : vous permet d'obtenir une estimation de votre prêt selon vos différents paramétres.</li>
        <li><b>Module de stockage de documents</b> : vous permet de déposer et recevoir les différents documents nécessaires sur votre espace personnel.</li>
    </ul>
    En cas de questions, n'hésitez pas à nous contacter via la page de <a id="home-contact-button" href="#" >contact</a> !
    </div>
</div>
<hr>
<div class="card">
    <div class="card-body">
    Informations du bureau de courtage : 
    <ul>
        <li><b>Services :</b></li>
        <li><b>Horaires :</b></li>
        <li><b>etc...</b></li>
    </ul>
    </div>
</div>

<script>
$('#home-contact-button').on('click', function(event) {
    event.preventDefault();
    loadComponent('contact/index', '#mainContent');
})
</script>