<div id="member-menu"></div>

<hr class="sidebar-divider">

<div class="sidebar-heading">Admin</div>

<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
    <i class="fas fa-users"></i>
    <span>Utilisateurs</span>
    </a>
    <div id="collapseUsers" class="collapse" aria-labelledby="headingPages" data-parent="#menu">
    <div class="bg-white py-2 collapse-inner rounded">
        <a id="admin-users" class="collapse-item" href="#">Liste</a>
    </div>
    </div>
</li>

<script>
loadComponent('userMenu/member', '#member-menu');

$('#admin-users').on('click', function(event) {
    event.preventDefault();
    loadComponent('user/index', '#mainContent');
})
</script>