<li class="nav-item">
    <a class="nav-link" href="/">
    <i class="fas fa-home"></i>
    <span>Home</span></a>
</li>

<hr class="sidebar-divider">

<div class="sidebar-heading">Menu</div>

<li class="nav-item">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseDocs" aria-expanded="true" aria-controls="collapseDocs">
    <i class="fas fa-file-alt"></i>
    <span>Documents</span>
    </a>
    <div id="collapseDocs" class="collapse" aria-labelledby="headingPages" data-parent="#menu">
    <div class="bg-white py-2 collapse-inner rounded">
        <a id="member-docs" class="collapse-item" href="#">Liste</a>
        <a id="member-docs-add" class="collapse-item" href="#">Ajouter</a>
    </div>
    </div>
</li>


<li class="nav-item">
<a id="member-loan" class="nav-link" href="#">
    <i class="fas fa-coins"></i>
    <span>Simulation de prêt</span></a>
</li>

<li class="nav-item">
<a id="member-contact" class="nav-link" href="#">
    <i class="far fa-envelope"></i>
    <span>Contact</span></a>
</li>

<script>
$('#member-docs').on('click', function(event) {
    event.preventDefault();
    loadComponent('document/index', '#mainContent');
})

$('#member-docs-add').on('click', function(event) {
    event.preventDefault();
    loadComponent('document/insert', '#mainContent');
})

$('#member-loan').on('click', function(event) {
    event.preventDefault();
    loadComponent('loan/index', '#mainContent');
})


$('#member-contact').on('click', function(event) {
    event.preventDefault();
    loadComponent('contact/index', '#mainContent');
})
</script>