<li class="nav-item">
    <a class="nav-link" href="/">
    <i class="fas fa-home"></i>
    <span>Home</span></a>
</li>

<hr class="sidebar-divider">

<div class="sidebar-heading">Menu</div>

<li class="nav-item">
<a id="visitor-contact" class="nav-link" href="#">
    <i class="far fa-envelope"></i>
    <span>Contact</span></a>
</li>

<script>
$('#visitor-contact').on('click', function(event) {
    event.preventDefault();
    loadComponent('contact/index', '#mainContent');
})
</script>