<h1 class="h3 mb-2 text-gray-800">Documents</h1>

<p class="">Retrouvez ici tous vos documents ainsi que ceux créer pour vous par le bureau.</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 id="user-name-docs" class="m-0 font-weight-bold text-primary"></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="docsTable" width="100%" cellspacing="0">

            </table>
        </div>
    </div>
</div>

<script>
$('#user-name-docs').html('Documents de ' + user['first_name'] + ' ' + user['last_name'])

fetch('api/document/')
.then(response => {
    return response.json()
})
.then(response => {
    let thead = '';
    let tfoot = '';
    let tbody = '';
    let pretty_keys = {
        'name': 'Nom',
        'creation_date': 'Date',
        'user': 'Utilisateur'
    }
    let order_keys = [
        'name',
        'user',
        'creation_date'
    ]

    thead += '<thead><tr>';
    tfoot += '<tfoot><tr>';
    for (key in order_keys) {
        thead += '<th>' + pretty_keys[order_keys[key]] + '</th>';
        tfoot += '<th>' + pretty_keys[order_keys[key]] + '</th>';
    }
    thead += '<th>Options</th>'; 
    thead += '</tr></thead>';
    tfoot += '<th>Options</th>'; 
    tfoot += '</tr></tfoot>';

    tbody += '<tbody>';
    
    // If there are documents
    if (response[0]['path'] != '') {
        for (doc of response) {
            tbody += '<tr>';
            for (key in order_keys) {
                if (order_keys[key] == 'name' && doc[order_keys[key]] !== undefined) {
                    tbody += '<td>' + '<a href="api/document/' + doc['path'] + '" target="_blank">' + doc[order_keys[key]] + '</td>';
                } else if (doc[order_keys[key]] !== undefined) {
                    tbody += '<td>' + doc[order_keys[key]] + '</td>';
                }
            }
            tbody += '<td><div data-id="' + doc['id'] + '" class="btn-group" role="group"><button type="button" class="btn btn-danger options">Supprimer</button></div></td>';
            tbody += '</tr>';
        }
    }
    tbody += '</tbody>'; 

    $('#docsTable').html(thead + tfoot + tbody);
    $('#docsTable').dataTable();

    $('.options').on('click', function(event) {
        event.preventDefault();

        let docId = $(this).parent().attr('data-id');
        fetch('api/document/', {
            method: 'DELETE',
            body: JSON.stringify({
                id: docId
            }),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-TOKEN': getCookie('csrf_access_token')
            }
        })
        .then(response => {
            loadComponent('document/index', '#mainContent');
        })
})
})
</script>