<h1 class="h3 mb-2 text-gray-800">Dépôt de document</h1>

<div id="info" class="alert alert-primary ml-2 mr-2 text-center" role="alert" hidden></div>

<div class="form-group">
    <div class="form-label-group">
        <label for="nameDocs">Nom</label>
        <input type="text" class="form-control" id="nameDocs" placeholder="Nom">
    </div>
</div>

<div class="form-group" hidden>
    <label for="docsUserId">Utilisateur</label>
    <select class="form-control" id="docsUserId">
      
    </select>
</div>

<div class="form-group">
    <label for="inputDocs">Fichier</label>
    <input type="file" class="form-control-file" id="inputDocs">
</div>

<button id="insert-docs-button" type="button" class="btn btn-primary btn-user btn-block">Ajouter</button>

<script>
if (user['status'] === 1) {
    fetch('api/user/')
    .then(response => {
        return response.json();
    })
    .then(response => {
        let select = "";
        for (users in response) {
            select += '<option value="' + response[users]['id'] + '">' + response[users]['first_name'] + ' ' + response[users]['last_name'] + ' (' + response[users]['email'] + ')</option>';
        }
        $('#docsUserId').append(select);
        $('#docsUserId').parent().removeAttr('hidden');
    })
} 


$('#insert-docs-button').on('click', function(event) {
    event.preventDefault();

    if ($('#inputDocs').get(0).files.length == 0) {
        displayInfo('Vous devez choisir un fichier.')
    } else {
        let doc = $('#inputDocs').get(0).files[0];    
        let reader = new FileReader();
        reader.readAsDataURL(doc);
        reader.onload = function() {
            fetch('api/document/', {
                method: 'POST',
                body: JSON.stringify({
                    doc: reader.result,
                    'docExtension': doc['name'].split('.').pop(),
                    name: $('#nameDocs').val(),
                    'user_id': $('#docsUserId').val()
                }),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-TOKEN': getCookie('csrf_access_token')
                }
            })
            .then(response => {
                httpCode = response.status;
                return response.json()
            })
            .then(response => {
                switch(httpCode) {
                    case 200:
                        displayInfo('Votre fichier a bien été déposé.')
                        break;
                    case 400:
                        displayInfo(response['message']);
                        break;
                    default:
                        displayInfo('Erreur inconnue. Veuillez réessayer');
                }
            })
        }
    }
})
</script>